html {
  background-color: lightblue;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.popup {
  height: 0;
  width: 500px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:999;
  border-radius: 4px;
  z-index: 999;
  overflow-y: scroll;
}

li {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    cursor: pointer;
}

li:hover {
  color: pink;
}

.zip {
    height: 30px;
    width: 200px;
    border-radius: 4px;
    border: none;
}

.input-submit {
  margin-left: auto;
  margin-right: auto;
  width: 13em;
}

.details {
  font-size: 15px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.submit {
  height: 30px;
    border-radius: 4px;
    height: 30px;
    border-radius: 4px;
    transform: translate(148%, 31%);
    margin-bottom: 20px;
}

.submit:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.modal-btn {
  height: 0;
  width: 30px;
  background-color: white;
  margin-left: 33%;
  margin-top: 40%;
  border-radius: 4px;
  position: absolute;
  top: -190px;
  right: 10px;
}

.display {
  margin-top: 30px;
}

.clicked-market {
  margin-top: 80px;
  text-align: center;
  cursor: default;
}

span {
  cursor: default;
}

span:hover {
  color: black;
}

.google {
  cursor: pointer;
}
